@charset "UTF-8";
:root {
  --acсent-color: #2196F3;
  --logo-first-color: #000000;
  --logo-second-color: #FFFFFF;
  --first-color: #212121;
  --second-color: #757575;
  --address-color: rgba(255, 255, 255, 0.6);
  --bg-hero: #2F303A;
  --bg-main: #FFFFFF;
  --bg-second: #F5F4FA;
  --icon-color: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --main-font: "Roboto",
      sans-serif;
  --logo-font: "Raleway",
      sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-main);
  color: var(--first-color);
}

img {
  display: block;
}

.contact, .menu {
  list-style: none;
}

.contact__link, .menu__link, .logo {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__first {
  color: var(--acсent-color);
}

.logo__second {
  color: var(--logo-first-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.menu__link:hover, .menu__link:focus {
  color: var(--acсent-color);
}

.menu__link--active {
  color: var(--acсent-color);
}
.menu__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--acсent-color);
  bottom: -31px;
  left: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item {
  margin-right: 50px;
}
.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  fill: currentColor;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.contact__link:hover, .contact__link:focus {
  color: var(--acсent-color);
}

.contact__icon {
  margin-right: 10px;
}

/* HERO */
.hero {
  background-color: var(--bg-hero);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
}

.hero-title {
  margin: 0 250px 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-second-color);
}

.hero-button {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  background-color: var(--acсent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--logo-second-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 94px 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--bg-second);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team {
  padding: 94px 0;
  background-color: var(--bg-second);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list-item {
  padding-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background: var(--bg-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-img {
  margin-bottom: 30px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.team-list .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-list .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* outline: 1px solid red; */
  background-color: var(--bg-main);
  color: var(--icon-color);
  -webkit-transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--acсent-color);
  color: var(--bg-main);
}

.team-list .social-item:not(:last-child) {
  margin-right: 10px;
}

/* main */
/* FEATURES */
/* Чим ми займаємося */
/* Команда */
.social-item .icon {
  fill: currentColor;
}

/* CLIENTS */
.clients {
  padding: 94px 0;
}

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  -webkit-transition: border-color var(--time) var(--cubic), color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic), color var(--time) var(--cubic);
}

.client-link:hover,
.client-link:focus {
  color: var(--acсent-color);
  border-color: var(--acсent-color);
}

.clients-item .icon {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: var(--bg-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo-first {
  color: var(--acсent-color);
}

.footer-logo-second {
  color: var(--logo-second-color);
}

.address-post {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
}

.addres-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
  font-style: normal;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--acсent-color);
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-company {
  width: 231px;
}

.footer-social {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-main);
  margin-bottom: 20px;
}

.footer-social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-social .social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--bg-main);
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
}

.footer-social .social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: var(--acсent-color);
}

.footer-social .icon {
  fill: currentColor;
}

/* subscription */
.footer-subscription {
  padding-top: 12px;
  margin-left: 93px;
}

.sub-label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.sub-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-input {
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic);
}

.sub-input:focus {
  outline: none;
  border-color: var(--acсent-color);
}

.sub-btn {
  margin-left: 12px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  background: var(--acсent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.sub-btn .icon {
  fill: var(--bg-main);
  margin-left: 10px;
}

/* PORTFOLIO */
.portfolio {
  padding: 94px 0;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-button {
  padding: 6px 22px;
  background: var(--bg-second);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background-color: var(--acсent-color);
  color: var(--logo-second-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-button {
  background-color: var(--acсent-color);
  color: var(--logo-second-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list .all-btn {
  padding: 6px 25px;
}

.portfolio-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-client-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.portfolio-client-link {
  display: inline-block;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-client-link:hover,
.portfolio-client-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-client-link:hover .portfolio-img-text,
.portfolio-client-link:focus .portfolio-img-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-client-img {
  display: block;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--bg-main);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
}

.portfolio-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-client-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.portfolio-client-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* MODAL */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn .icon {
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}

.modal-btn:hover .icon,
.modal-btn:focus .icon {
  fill: var(--acсent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal-wrapper {
  position: relative;
  /* margin-top: 4px; */
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  -webkit-transition: border-color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic);
}

.modal-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}

.modal-input:focus {
  outline: none;
  border-color: var(--acсent-color);
}

.modal-input:focus + .icon {
  fill: var(--acсent-color);
}

.modal-coment {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--time) var(--cubic);
  transition: border var(--time) var(--cubic);
}

.modal-coment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:focus {
  outline: none;
  border-color: var(--acсent-color);
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-left: 12px;
}

.label-span {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border var(--time) var(--cubic), background-color var(--time) var(--cubic);
  transition: border var(--time) var(--cubic), background-color var(--time) var(--cubic);
}

.label-span .icon {
  fill: transparent;
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}

.modal-checkbox:checked + .checkbox-label .label-span {
  border: none;
  background-color: var(--acсent-color);
}

.modal-checkbox:checked + .checkbox-label .icon {
  fill: var(--bg-main);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.checkbox-link {
  margin-left: 5px;
  color: var(--acсent-color);
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  background: var(--acсent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bg-main);
  -webkit-transition: background var(--time) var(--cubic);
  transition: background var(--time) var(--cubic);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background: #188ce8;
}/*# sourceMappingURL=main.css.map */