/* PORTFOLIO */
.portfolio {
    padding: 94px 0;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list-button {
    padding: 6px 22px;
    background: var(--bg-second);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
    border-color: transparent;
    border-radius: 4px;

    transition: background-color var(--time) var(--cubic),
        color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
    background-color: var(--acсent-color);
    color: var(--logo-second-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-button {
    background-color: var(--acсent-color);
    color: var(--logo-second-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list .all-btn {
    padding: 6px 25px;
}

.portfolio-client {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-client-item {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-client-link {
    display: inline-block;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-client-link:hover,
.portfolio-client-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-client-link:hover .portfolio-img-text,
.portfolio-client-link:focus .portfolio-img-text {
    transform: translateY(0);
}

.portfolio-client-img {
    display: block;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: var(--bg-main);

    transform: translateY(100%);
    transition: transform var(--time) var(--cubic);
}

.portfolio-text {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio-client-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-color);
}

.portfolio-client-desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color);
}