/* Header */
.page-header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;

    .container {
        display: flex;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
}


.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contact-item {
    margin-right: 50px;
}

.header-contact-item:last-child {
    margin-right: 0;
}

.header-contact-link {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    fill: currentColor;
    transition: color var(--time) var(--cubic);
}

.header-icon {
    margin-right: 10px;
}

.header-item-link:hover,
.header-item-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--acсent-color);
}